@import "../fonts/fonts.css";

/* font-family: 'Montserrat'; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* ===== header ====== */
.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;

}

.nav__list_link{
    font-size: 16px;
    color: #4e4e4e;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-left: 35px;
}
.nav__list_link:hover{
    color: #dd4400;
}

.logo{
display: flex;
align-items: center;
color: #dd4400;
font-size: 16px;
font-weight: 400;
font-family: 'Montserrat';

}
.logo img{
    margin-right: 23px;
}
.nav{
    padding: 7px 0;
    box-shadow: 0 0 7px 0 #3a1f0c;
    background: #fff;
}
.header{
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: top;
}
/* ===== /header ====== */
/* ====== main ======= */
.main{
    padding-top: 50px;
    padding-bottom: 100px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
      box-shadow: 0 0 15px 0px #eadcd6;
      padding: 50px 28px 25px 28px;
}
.main-cards__content{
    display: flex;
    justify-content: space-between;
}
.card__title{
    max-width: 170px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    color: #dd4400;
    line-height: 30px;
    margin-bottom: 45px;
}
.line{
    margin-bottom: 30px;
    width: 175px;
    height: 2px;
    background: linear-gradient(to right, #fff,#dd4400,#fff);
}
.main__link{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 12px 53px;
    background: #dd4400;
    margin-top: 24px;
}
.main__content{
    margin-top: 100px;
}
.main__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color: #5e5e5e;
    margin-bottom: 50px;
}
.main__left_description{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #5e5e5e;
    line-height: 27px;
    max-width: 745px;
    margin-bottom: 35px;
}
.main__left_link{
    display: inline-block;
    margin-top: 15px;
}
.main__blocks{
    display: flex;
    justify-content: space-between;
}

.card__link{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #dd4400;
    max-width: 155px;
    line-height: 22px;
    text-decoration: underline;
    margin-left: 30px;
}
.main-card{
    display: flex;
    margin-bottom: 15px;
}
/* ===== /main ======= */
/* ========== footer ========= */
.footer{
    background: #dd4400;
    padding-top: 65px;
    padding-bottom: 70px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
}
.footer__title{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-bottom: 23px;
}
.footer__tel{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
}
.footer__time{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.footer-right__description{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}
.footer__email{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    
}

/* ========== /footer ========= */